.MustSee{
    border:'1px solid black';
    margin-top: 41px;
    color: white;
    font-size: 20px;
    align-items: flex-start;
    
}

.MustSee:first-child {margin-top:30px;} 
.MustSee:last-child {margin-bottom: 20px}