
.background{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN-uz39vSrX9srGHhC_qKz3iHB-SaZeRUUcmpZxUXr2i7J6XGnpA)
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

